{{#each advBooks as |advBook|}}
{{log advBook}}
<section data-id="{{advBook._id}}">
  <h6>Title:</h6>
  <h4>
    {{advBook.title}}
  </h4>
  <h6>Edition:</h6>
  <h4>
  {{advBook.edition}}
  </h4>
  <h6>Description</h6>
  <p>
    {{advBook.description}}
  </p>
  <button data-id="{{advBook._id}}" data-target="#editModal" data-toggle="modal" class="btn-sm btn-info edit-advBook">Edit</button>
       <button type="click" class="destroyAdvBook btn-sm btn-danger" data-id="{{advBook._id}}">Delete Adventure</button>
</section>

{{/each}}
