{{#each advBooks as |advBook|}}
{{log advBook}}
<section data-id="{{advBook.id}}">
  <h6>Title:</h6>
  <h4>
    {{advBook.title}}
  </h4>
  <h6>Edition:</h6>
  <h4>
  {{advBook.edition}}
  </h4>
  <h6>Description</h6>
  <p>
    {{advBook.description}}
  </p>
       <button class="destroyAdvBook btn btn-danger" data-id="{{advBook._id}}">Delete Adventure</button>
</section>

{{/each}}
